<title>{{metaTitle}}</title>
<link rel="canonical" href="{{canon}}" />

<meta property="og:title" content="{{metaTitle}}" />
<meta property="og:url" content="{{canon}}" />
<meta property="og:image" content="{{metaImage}}" />