<section class="section bio__section">
    <div class="bio__hero">
        <img class="bio__bg" src="{{heroImg.url}}" aria-hidden="true">
    </div>

    <div class="bio__content"> 
        <div class="wrapper wrapper--content">
            <div class="bio__imgWrp">
                <img class="bio__img" src="{{heroImg.url}}" alt="{{heroImg.alt}}">
            </div>

            <h1 class="bio__title">{{bio.title}}</h1>

            {{{bio.content}}}
        </div>
    </div>

    <img class="logoIcon" src="/dist/media/icons/logo-circle-icon.svg">
</section>

<section class="section resume">
    <div class="wrapper wrapper--content">
        <h2 class="resume__heading">{{{resume.title}}}</h2>
        <div class="button__wrapper button__wrapper--justifyCenter">
            <a class="button button--primary button--download" href="{{resume.docUrl}}" download>{{resume.btnText}}</a>
        </div>

        {{#each resume.items}}
            <div class="resume__item">
                <h3 class="resume__itemHeading">{{this.heading}}</h3>

                {{{this.content}}}

                <hr class="resume__hr">
            </div>
        {{/each}}
    </div>
</section>