<section class="section hero">
    <div class="hero__content">
        <h1 class="home__title">
            <span class="home__titleText">{{intro.title}}</span>
            {{#if intro.subtitle}}
                <small class="home__subtitle">{{intro.subtitle}}</small>
            {{/if}}
        </h1>
    </div>

    <div class="hero__bg">
        <picture>
            {{#each heroBg.sources}}
                <source srcset="{{this.url}}"{{#if this.minScreenSize}} media="(min-width: {{this.minScreenSize}}px)"{{/if}}>
            {{/each}}
            <img class="hero__img" src="{{heroBg.mobileSource}}" alt="{{heroBg.alt}}">
        </picture>
    </div>

    <a class="scrollGraphic" href="#featured-work">
        <span class="scrollGraphic__icon">
            <span class="scrollGraphic__track">
                <span class="scrollGraphic__ball"></span>
            </span>
        </span>
    </a>
</section>

 <section class="section" id="featured-work">
     <h2>{{portfolio.heading}}</h2>

    <div class="portfolio__grid portfolio__grid--home">
        {{#each portfolio.featured}}
            {{{printPortfolioItem this}}}
        {{/each}}
    </div>

    <div class="button__wrapper button__wrapper--justifyCenter">
        <a class="button button--primary" href="{{portfolio.url}}">{{portfolio.btnText}}</a>
    </div>
</section>

<section class="section bioHome">
    <div class="bioHome__wrapper wrapper wrapper--wide">
        <article class="bioHome__content">
            <div class="bioHome__mobileImgWrp">
                <img class="bioHome__mobileImg" src="{{bio.img.square}}" aria-hidden="true">
            </div>

            <div class="bioHome__box box">
                <h2 class="bioHome__heading">{{bio.title}}</h2>
                {{{bio.content}}}
            </div>

            <div class="bioHome__btnWrp button__wrapper button__wrapper--justifyRight">
                <a class="button button--primary" href="{{bio.url}}">{{{bio.buttonText}}}</a>
            </div>
        </article>

        <div class="bioHome__bg">
            <picture>
                {{#each bio.img.sources}}
                    <source srcset="{{this.url}}" media="(min-width: {{this.minScreenSize}}px)">
                {{/each}}
                <img class="bioHome__img" alt="{{bio.img.alt}}" src="{{bio.img.mobileSource}}">
            </picture>
        </div>
    </div>
</section>