<div class="showcase">
    <section class="showcase__section showcase__section--media">
        <div class="showcase__slider" id="showcaseSlider">
            {{#each media}}
                <div class="showcase__slide">
                    <picture>
                        <source srcset="{{this.url}}">
                        <img class="showcase__img" src="{{this.url}}" alt="{{this.alt}}">
                    </picture>

                    <div class="showcase__slideIcons">
                        <button class="portfolio__expand showcase__icon icon icon--expand">
                            <span class="icon__text">View Full Screen</span>
                        </button>
                    </div>
                </div>
            {{/each}}
        </div>

        {{#if isSlider}}
            <div class="slider__arrows">
                <button class="slider__arrow slider__arrow--prev" id="arrowPrev"></button>
                <button class="slider__arrow slider__arrow--next" id="arrowNext"></button>
            </div>

            <div class="slider__dots" id="sliderDots"></div>
        {{/if}}

        {{#each media}}
            <picture aria-hidden="true">
                <source srcset="{{this.url}}">
                <img class="showcase__bg" src="{{this.url}}">
            </picture>
        {{/each}}
    </section>
    
    <section class="showcase__section showcase__section--content">
        <div class="wrapper wrapper--content">
            <h1 class="showcase__title">{{title}}</h1>

            {{{content}}}
        </div>
    </section>
</div>