<div class="showcase">
    <section class="showcase__section showcase__section--media">
        <div class="showcase__slider" id="showcaseSlider">
            {{{printSlides media}}}
        </div>

        {{#if (isSlider media)}}
            <div class="slider__arrows">
                <button class="slider__arrow circleBtn circleBtn--prev" id="arrowPrev" data-dir="prev"><span class="icon__text">Previous Slide</span></button>
                <button class="slider__arrow circleBtn circleBtn--next" id="arrowNext" data-dir="next"><span class="icon__text">Next Slide</span></button>
            </div>

            <div class="slider__dots" id="sliderDots">
                {{{printDots media}}}
            </div>
        {{/if}}

        <div class="showcase__bgWrp">
            {{{printBgs media}}}
        </div>
    </section>
    
    <section class="showcase__section showcase__section--content">
        <div class="wrapper wrapper--content">
            <h1 class="showcase__title">{{title}}</h1>

            {{{content}}}

            {{#if (hasPurchaseLinks this)}}
                <div class="showcase__buttons button__wrapper button__wrapper--justifyRight">
                    {{#if purchaseLink}}
                        <a class="button button--primary button--shop" href="{{purchaseLink}}" target="_blank" rel="nofollow noopener noreferrer">Purchase</a>
                    {{/if}}

                    {{#if downloadLink}}
                        <a class="button button--primary button--download" href="{{purchaseLink}}" target="_blank" rel="nofollow noopener noreferrer">Download</a>
                    {{/if}}
                </div>
            {{/if}}

            <hr class="showcase__hr">

            <div class="showcase__neighbors">
                {{{neighbors this}}}
            </div>
        </div>
    </section>
</div>